################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Solution 1 - Setup OIDC system with client credentials/ResourceApi/obj/Debug/netcoreapp2.0
