################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Solution 1 - Setup OIDC system with client credentials/ResourceApi/obj/Debug/netcoreapp2.0
/Solution 6 - OIDC and Angular client/.vs/oidc-angular-identityserver
/Solution 6 - OIDC and Angular client/AngularClientCode
/Solution 6 - OIDC and Angular client/StsServerIdentity
/Solution 6 - OIDC and Angular client/ResourceServer
