################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Solution 6 - OIDC and Angular client/ClientApp/ClientApp/node_modules
/Solution 6 - OIDC and Angular client/.vs/oidc-angular-identityserver/v16
/Solution 6 - OIDC and Angular client/.vs/