NODE_ENV=development
PUBLIC_ORIGIN=http://localhost:8080
PORT=8080
SESSION_SECRET=replace-me-with-at-least-32-random-bytes
SESSION_SAME_SITE=lax
REDIS_URL=redis://localhost:6379
OIDC_ISSUER=http://localhost:8081/realms/angular-bff
OIDC_CLIENT_ID=auth-gateway
OIDC_CLIENT_SECRET=dev-secret
SHELL_URL=http://localhost:4200
ORDERS_MFE_URL=http://localhost:4201
ORDERS_API_URL=http://localhost:4300
